body {
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  width: 100%;
  display: block;
}

.img-1 {
  background-image: url("/images/img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.place-img-1 {
  background-image: url("/images/place-img-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  min-width: 50%;
}

.place-img-2 {
  background-image: url("/images/place-img-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  min-width: 50%;
}

.place-img-3 {
  background-image: url("/images/place-img-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 250px;
  min-width: 50%;
}

.embed {
  aspect-ratio: 16 / 9;
  min-height: 250px;
  min-width: 50%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px;
}

section.secondary {
  background: #f8f8f8;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 10px 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0 0 15px 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  margin: 30px 0 15px 0;
  line-height: 1;
  color: #272044;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
  margin: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.instagram-embeds {
  margin: 30px 0;
}

.card {
  background: white;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  display: block;
  padding: 30px;
}

.card-footer {
  padding: 0 30px 0 30px;
  margin-bottom: 30px;
  display: block;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: rgb(22, 95, 112);
  text-decoration: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/hero.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 250px 50px;
  margin-top: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(22, 97, 113, 0.3),
      rgba(15, 66, 77, 0.9)
    ),
    url("../images/footer.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .place-img-1,
  .place-img-2,
  .place-img-3 {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }
}
